.container {
  width: 100%;
  padding: 0px 72px;
}
@media screen and (max-width: 992px) {
  .container {
    padding: 0px 56px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0px 48px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    padding: 0px 16px;
  }
}
section {
  margin: 50px 0;
}

.button {
  color: var(--text-black);
  background-color: var(--bg-yellow);
  padding: 20px 50px;
  border-radius: 20px;
}
@media screen and (max-width: 1200px) {
  .button {
    padding: 16px 40px;
  }
}
@media screen and (max-width: 992px) {
  .button {
    padding: 12px 36px;
  }
}
.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 50px;
}
/* description text styles for glabal use */
.font-normal {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.font-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.text-center {
  text-align: center;
}
.text-sm {
  font-size: 14px;
  line-height: 20px;
}
.text-md {
  font-size: 16px;
  line-height: 20px;
}
.text-lg {
  font-size: 18px;
  line-height: 28px;
}
.text-xl {
  font-size: 20;
  line-height: 34px;
}
.text-2xl {
  font-size: 24px;
  line-height: 36px;
}
@media screen and (max-width: 1200px) {
  .text-2xl {
    font-size: 20px;
  }
}
@media screen and (max-width: 992px) {
  .text-2xl {
    font-size: 18px;
  }
  .text-md {
    font-size: 14px;
  }
}
